@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


$main-color: #f3d2c1;
$background-color: #fef6e4;
$headline-color: #001858;
$paragraph-color: #172c66;
$highlight-color: #fef6e4;
$secondary-color: #8bd3dd;
$tertiary-color: #f582ae;

body {
  display: flex;
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
}
h1{
  color: $headline-color;
  letter-spacing: 1.075rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}


th{
  color: $headline-color;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
td{
  color: $paragraph-color;
  text-align: center;
}
.show-cart-btn{
  background-color: $tertiary-color;
  color: $headline-color;
  border: none;
  &:focus{
    box-shadow: none;
    background-color: $secondary-color;
  }
}
.navbar {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 100vh;
  hr {
    width: 80%;
    text-align: center;
    border-color: $headline-color;

  }
  a.navbar-brand {
    color: $headline-color;
    font-weight: 700;
    text-transform: uppercase;
  }
  .nav-item {
    text-decoration: none;
    .nav-link {
      color: $paragraph-color;
      font-weight: 500;
    }
  }
}

.main-container{
  width: 90vw;
  min-height: 100vh;
}

.login-form{
  background-color: $headline-color;
  h1{
    color: $highlight-color;
  }
  label{
    color: $tertiary-color;
    text-transform: uppercase;
  }
}

.btn-login-form{
  background-color: $highlight-color;
  color: $headline-color;
  border: none;
  &:focus{
    box-shadow: none;
    background-color: $tertiary-color;
  }
}